<div
  class="flex flex-col gap-10 p-5 bg-blue-100 border-blue-500 rounded-md overflow-y-auto h-[500px]"
>
  <div *ngFor="let product of products" class="border-b border-blue-500">
    <a
      [title]="product.name + ' details'"
      class="cursor-pointer select-none"
      [routerLink]="['/products', product.id]"
    >
      <h3>{{ product.name }}</h3>
    </a>

    <p *ngIf="product.description" class="select-none">
      {{ product.description }}
    </p>
    <p *ngIf="product.price" class="select-none">
      {{ product.price | currency: "EUR" }}
    </p>
    <a
      [title]="product.name + ' details'"
      class="cursor-pointer select-none"
      [routerLink]="['/products', product.id]"
    >
      <p
        class="font-bold select-nont hover:text-blue-700 cursor-pointer transition-colors"
      >
        more...
      </p>
    </a>

    <div class="flex items-center justify-between">
      <app-buy-button [product]="product"></app-buy-button>
      <app-favorites-button></app-favorites-button>
    </div>

    <app-product-discounts
      [product]="product"
      (notify)="onNotify()"
    ></app-product-discounts>
  </div>
</div>
