<div>
  <div *ngFor="let item of items_to_buy">
    <div>{{ item.name }}: {{ item.price }}</div>
    <div *ngFor="let shipping of shipping_data | async">
      {{ shipping.type }}::: {{ shipping.price }}
    </div>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name"> Name </label>
      <input id="name" type="text" formControlName="name" />
    </div>

    <div>
      <label for="address"> Address </label>
      <input id="address" type="text" formControlName="address" />
    </div>
    <button class="button" type="submit">Purchase</button>
  </form>
</div>
