<div class="bg-gray-100 h-full">
  <div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency: "EUR" }}</h4>
    <p>{{ product.description }}</p>
    <app-buy-button [product]="product"></app-buy-button>

    <p
      *ngIf="!shipping_info; else hideShippingInfo"
      (click)="toggleShippingPrices()"
      class="cursor-pointer hover:text-blue-700"
    >
      Show shipping Prices
    </p>

    <ng-template #hideShippingInfo
      ><p
        (click)="toggleShippingPrices()"
        class="cursor-pointer hover:text-blue-700"
      >
        Hide shipping Prices
      </p></ng-template
    >

    <div *ngIf="shipping_info">
      <div *ngFor="let shipping of shipping_data | async">
        {{ shipping.type }}::: {{ shipping.price }}
      </div>
    </div>
  </div>
</div>
