<div
  class="top-nav absolute top-0 left-0 right-0 bottom-0 flex items-center justify-between w-full h-[60px] font-bold text-white bg-emerald-700"
  role="banner"
>
  <div class="flex items-center mx-4 gap-4 select-none">
    <span class="material-icons-outlined cursor-pointer hover:text-emerald-300">
      menu
    </span>
    <a  [title]="'angular shop'" [routerLink]="['/']" class="cursor-pointer hover:text-emerald-300">{{
      logo_name
    }}</a>
  </div>

  <a
    [title]="'cart'"
    class="cursor-pointer select-none"
    [routerLink]="['/cart']"
  >
    <span
      class="material-icons-outlined mx-5 cursor-pointer transition-colors hover:text-emerald-300"
    >
      shopping_cart
    </span>
  </a>
</div>
